<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" lang="es">
<head>
<title>Listado de productos</title>
</head>
<body>
	<main class="container-fluid">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4">

			<div th:each="p: ${productos}" class="col">
				<div class="card h-100">
					<img th:src="|fotos/${p.id}.jpg|" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title" th:text="${p.nombre}"></h5>
						<p class="card-text" th:text="${p.precio}"></p>
						<p class="card-text">
							<a th:href="|carrito?id=${p.id}|"
								class="stretched-link btn btn-primary w-100">Agregar al
								carrito</a>
						</p>
					</div>
					<div class="card-footer text-center">
						<small class="text-body-secondary text-center"
							th:text="${p.fechaCaducidad}"></small>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>